.navbar {
    width: 100%;
    padding: 10px;
}

.nav-logo {
    cursor: pointer;
}

.logo {
    margin-left: 10px;
    font-size: 30px;
    font-weight: 650;
    color: #F400A1;
}

.sign-in-button {
    margin-right: 10px;
}

.sign-in {
    border-radius: 14px;
    font-weight: 400;
    background-color: #F400A1;
    color: white;
}